<nav class="navbar navbar-default" ng-controller="AuthCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{globals.currentUser.username}}</a></li>
            <button type="button" class="btn btn-default navbar-btn" ng-click="logout()">退出</button>
        </ul>
    </div>
</nav>
<header id="header">
    <form id="todo-form" ng-submit="addTodo()">
        <input id="new-todo" required placeholder="输入待办事项" ng-model="newTodo" ng-disabled="saving" autofocus>
    </form>
</header>
<section id="main" ng-show="todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <ul id="todo-list">`
        <li ng-repeat="todo in todos" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                <button class="destroy" ng-click="removeTodo(todo)"></button>
            </div>
            <form ng-submit="saveEdits(todo, 'submit')">
                <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo">
            </form>
        </li>
    </ul>
</section>
<footer id="footer" ng-cloak>
    <span id="todo-count">
        <span ng-if="remainingCount>0">
            <strong>【{{ remainingCount }}】</strong>项待办
        </span>
    <span ng-if="remainingCount<=0">
            无事可做啦..
        </span>
    </span>
    <ul id="filters">
        <li>
            <a ng-class="{selected: status == ''} " href="#/">全部</a>
        </li>
        <li>
            <a ng-class="{selected: status == 'active'}" href="#/active">待办</a>
        </li>
        <li>
            <a ng-class="{selected: status == 'completed'}" href="#/completed">完成</a>
        </li>
    </ul>
    <button id="clear-completed" ng-click="clearCompletedTodos()" ng-show="showClear">清除已完成</button>
</footer>
